@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-hind-guntur: var(--font-hind-guntur);
  --font-koulen: var(--font-koulen);
  --font-ibm-plex-sans-hebrew: var(--font-ibm-plex-sans-hebrew);
  --font-konkhmer: var(--font-konkhmer);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border-radius: 20px;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d5d5d5 transparent;
  }
}